/* form */
form {
    max-width: 450px;
    margin: 30px auto;
    padding: 25px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    font-family: Trebuchet MS, sans-serif;
}
body {
    background-image: url('back.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: beige;
}
h1 {
    color: white;               
    text-align: center;
    margin-top: 20px; 
    font-size: 48px;  
    font-family: Trebuchet MS, Verdana, sans-serif;
    text-shadow: 
        -2px -2px 0 black,
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black;
}

/*labels */
label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
}

/*Inputs selects textareas*/
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    transition: 0.2s border-color ease, 0.2s box-shadow ease;
}


input:focus,
select:focus,
textarea:focus {
    border-color: #5a8dee;
    box-shadow: 0 0 4px rgba(90, 141, 238, 0.4);
    outline: none;
}

/*BUTTONS */
button,
input[type="submit"] {
    background: #5a8dee;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s background ease;
}


button:hover,
input[type="submit"]:hover {
    background: #3b6dcc;
}


button:disabled,
input[type="submit"]:disabled {
    background: #aaa;
    cursor: not-allowed;
}

/* Home Nav */
/* .containers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.art,
.exhibitions,
.donors,
.staff {
    font-family: Trebuchet MS, sans-serif;
}

ul {
    margin: 20px 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

li {
    padding: 20px;
    border-radius: 25px;
    background-color: crimson;
    font-family: Trebuchet MS, sans-serif;
    font-weight: 300px;
}

a {
    text-decoration: none;
    color: white;
} */